[build-system]
requires = ["setuptools", "wheel"]

[tool.poetry]
name = "masci_tools"
version = "0.4.4"
description = "Tools for Materials science. Vis contains wrapers of matplotlib functionality to visualalize common material science data. Plus wrapers of visualisation for aiida-fleur workflow nodes"
readme = "README.md"
authors = ["Jens Bröder <j.broeder@fz-juelich.de>",
           "Philipp Rüssmann <p.ruessmann@fz-juelich.de>",
          ]
license = "MIT"
homepage = "https://github.com/JuDFTteam/masci-tools"
repository = "https://github.com/JuDFTteam/masci-tools"
documentation = "https://masci-tools.readthedocs.io"
keywords = ["material science",
            "plots",
            "visualization",
            "aiida",
            "dft"]
classifiers = ["Development Status :: 4 - Beta",
               "Intended Audience :: Science/Research",
               "License :: OSI Approved :: MIT License",
               "Programming Language :: Python :: 3",
               "Programming Language :: Python :: 3.7",
               "Programming Language :: Python :: 3.8",
               "Programming Language :: Python :: 3.9",
               "Topic :: Scientific/Engineering :: Physics"]


[tool.poetry.dependencies]
python = "^3.7"
numpy = "*"
scipy = "*"
matplotlib = "*"
h5py = "*"
pandas = "*"
lxml = "^3.6.4"
more_itertools = "*"
bump2version = "*"
pytest = "^4.3.1"
pytest-cov = "*"
pytest-mpl = "*"
future = "*"
seaborn = "*"
deepdiff = "*"
humanfriendly = "*"
mendeleev = "*"
