alabaster==0.7.12
appmode==0.4.0
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
bleach==3.0.2
bokeh==1.0.3
Bottleneck==1.2.1
bqplot==0.11.2
certifi==2018.11.29
cffi==1.11.5
cftime==1.0.3.4
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
coverage==4.5.2
cryptography==2.4.2
cryptography-vectors==2.3.1
cycler==0.10.0
cytoolz==0.9.0.1
dask==1.0.0
decorator==4.3.0
Deprecated==1.2.4
distributed==1.25.0
docutils==0.14
entrypoints==0.2.3
fastcache==1.0.2
gmpy2==2.0.8
h5netcdf==0.6.2
h5py==2.8.0
heapdict==1.0.0
holoviews==1.11.0
hvplot==0.3.0
idna==2.7
imageio==2.4.1
imagesize==1.1.0
ipydatawidgets==4.0.0
ipyevents==0.3.2
ipykernel==5.1.0
ipyleaflet==0.9.1
ipympl==0.2.1
ipyscales==0.3.0
ipython==7.2.0
ipython-genutils==0.2.0
ipyvolume==0.5.1
ipywebrtc==0.4.3
ipywidgets==7.4.2
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-dashboards==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
jupyterthemes==0.20.0
kiwisolver==1.0.1
lesscpy==0.13.0
locket==0.2.0
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.2.2
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
more-itertools==4.3.0
mpmath==1.0.0
msgpack==0.6.0
nb-conda==2.2.1
nb-conda-kernels==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
netCDF4==1.4.1
networkx==2.2
notebook==5.7.2
nteract-on-jupyter==1.9.15
numpy==1.15.4
olefile==0.46
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
panel==0.3.1
param==1.8.1
parso==0.3.1
partd==0.3.9
patsy==0.5.1
periodictable==1.5.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
plotly==3.5.0
pluggy==0.8.0
ply==3.11
prometheus-client==0.4.2
prompt-toolkit==2.0.7
psutil==5.4.8
ptyprocess==0.6.0
py==1.7.0
pycparser==2.19
pyct==0.4.6
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
pytest==4.0.0
pytest-cov==2.6.0
python-dateutil==2.7.5
pythreejs==2.0.2
pytz==2018.7
pyviz-comms==0.7.0
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.2
requests==2.20.1
retrying==1.3.3
rise==0.0.0
scikit-image==0.14.1
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
six==1.11.0
snowballstemmer==1.2.1
sortedcontainers==2.1.0
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
statsmodels==0.9.0
sympy==1.3
tblib==1.3.2
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
traittypes==0.2.1
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wrapt==1.10.11
xarray==0.10.9
zict==0.1.3
