name: masci-tools

on: [push, pull_request]

jobs:

  docs:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - name: docs
            sphinx-options: '' 
            allow-failure: false
          - name: docs-nitpicky
            sphinx-options: '-nW'
            allow-failure: true

    name: ${{ matrix.name }}
    continue-on-error: ${{ matrix.allow-failure }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4.2.0
      with:
        python-version: '3.10'

    - name: Cache python dependencies
      id: cache-pip
      uses: actions/cache@v3.0.6
      with:
        path: ~/.cache/pip
        key: pip-docs-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          pip-docs-

    - name: Install python dependencies
      run: |
        pip install -e .[docs]

    - name: Install Latex compiler
      run: |
        sudo apt-get update
        sudo apt-get install -y latexmk dvipng texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended

    - name: Build documentation
      env:
        READTHEDOCS: 'True'
        SPHINXOPTS: ${{ matrix.sphinx-options }}
      run: |
        make -C docs html

  pre-commit:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    strategy:
      matrix:
        include:
          - name: pre-commit-errors
            skip-hooks: pylint-warnings
            allow-failure: false
          - name: pre-commit-warnings
            skip-hooks: pylint-errors
            allow-failure: true

    name: ${{ matrix.name }}
    continue-on-error: ${{ matrix.allow-failure }}

    steps:
    - uses: actions/checkout@v3

    - name: Cache python dependencies
      id: cache-pip
      uses: actions/cache@v3.0.6
      with:
        path: ~/.cache/pip
        key: pip-pre-commit-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          pip-pre-commit-

    - name: Set up Python 3.8
      uses: actions/setup-python@v4.2.0
      with:
        python-version: 3.8

    - name: Install python dependencies
      run: |
        pip install .[pre-commit,bokeh-plots]
        pip freeze

    - name: Run pre-commit
      run: |
        SKIP=${{ matrix.skip-hooks }} pre-commit run --all-files || (git status --short; git diff ; exit 1)


  tests:

    runs-on: ubuntu-latest
    timeout-minutes: 30

    strategy:
      matrix:
        python-version: ['3.10','3.9', '3.8']
        experimental: [false]
        pytest-cmdline: [""]
        include:
          - python-version: '3.7'
            experimental: false
            pytest-cmdline: '-o addopts="--cov=masci_tools --cov=tests --cov-report xml"'
          #- python-version: '3.11.0-rc.2'
          #  experimental: true
          #  pytest-cmdline: ""
      fail-fast: false
    
    name: tests-python-${{ matrix.python-version }}
    continue-on-error: ${{ matrix.experimental }}

    steps:
    - uses: actions/checkout@v3

    - name: Cache python dependencies
      id: cache-pip
      uses: actions/cache@v3.0.6
      with:
        path: ~/.cache/pip
        key: pip-${{ matrix.python-version }}-tests-${{ hashFiles('**/pyproject.toml') }}
        restore-keys: |
          pip-${{ matrix.python-version }}-tests

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.2.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Build dependecies (for experimental builds)
      if: ${{ matrix.experimental }}
      run: |
        sudo apt-get update
        sudo apt-get install -y libxml2-dev libxslt-dev libhdf5-serial-dev libopenblas-dev
        pip install --upgrade pip setuptools wheel
        pip install --upgrade cython
        pip list

    - name: Install python dependencies
      run: |
        pip install -e .[testing,bokeh-plots]
        pip install pyhull

    - name: Run pytest
      run: pytest ${{ matrix.pytest-cmdline }}

    - name: Upload code coverage report
      run: |
        pip install codecov
        codecov

    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: matplotlib-comparison-${{ matrix.python-version }}
        path: mpl-results
